<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .green {border: solid 1px green;padding:5px;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-class="classname">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="displayMessage()">Check If Too Much</button>
         </div>
         <div class="form-group message" style="color:{{colour}}">{{message}}</div>
   </div>

</body>
</html>
